<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">fingerprint</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Usuarios</h4>
                        <div class="toolbar text-center">
                            <img style="height: 65px;width:65px;" *ngIf="loading" src="https://cdn.dribbble.com/users/503653/screenshots/3143656/fluid-loader.gif"
                            />
                        </div>
                        <div style="font-size: 1px;">
                            <ng2-smart-table [settings]="settings" [source]="data" ></ng2-smart-table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>
<style>
    :host /deep/ ng2-smart-table {
        font-size: 17px;
        text-align: center;
    }
</style>