<button matTooltip="Información" style="padding:0px;" class="btn btn-simple btn-warning warning btn-icon"
    (click)="onClick(1)">
    <i class="material-icons">priority_high</i>
</button>
<button [disabled]="habilitarBotones" style="padding:0px;" class="btn btn-simple btn-info info btn-icon" 
    matTooltip="Editar" (click)="onClick(2)">
    <i class="material-icons">edit</i>
</button>
<button [disabled]="habilitarBotones" style="padding:0px;" class="btn btn-simple btn-danger warning btn-icon"
    matTooltip="Eliminar" (click)="onClick(3)">
    <i class="material-icons">close</i>
</button>
<button style="padding:0px;" [ngClass]="[tieneCertificado==true? 'btn btn-simple btn-success success btn-icon': 'btn btn-simple btn btn-icon']"
    matTooltip="Descargar" [disabled]="!tieneCertificado" (click)="onClick(4)">
    <i class="material-icons">file_download</i>
</button>


<!-- <button style="padding:0px;" [ngClass]="[tieneCertificado==" true " ? "btn btn-simple btn-success success btn-icon ":"btn
    btn-simple btn btn-icon] "'+
    'matTooltip="Descargar " [disabled]="!tieneCertificado " (click)="onClick(4) "><i class="material-icons
    ">file_download</i></button>' -->