<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" filter-color="black">
        <div class="container" style="width: 570px">
            <img src="../../assets/img/angular2-logo-white.png" alt="Smiley face" style="margin-left:150px" height="150px" width="250px">
            <div class="row">
                <div class="col-md-12 col-md-offset" style="margin: 0 auto;">
                    <div class="card card-signup" style="padding: 15px 0px">
                        <div class="row">|
                            <div (keyup.enter)="login()" class="col-md-12-offset" style="width: 400px; margin: 0 auto;">
                                <div class="card-content">
                                    <div [style.display]="esOlvidoClave ? 'none' : 'table'">
                                        <span class="input-group-addon" style="background-color:transparent;border:0px">
                                            <i class="material-icons" style=" margin-top: 25px;">face</i>
                                        </span>
                                        <input [(ngModel)]="usuario.User" (focus)="habilitarEstilo()" [readonly]="estilo" placeholder="Username" type="text" 
                                            id="usuario" name="usuario" class="form-control" />
                                    </div>
                                    <div [style.display]="esOlvidoClave ? 'none' : 'table'">
                                        <span class="input-group-addon" style="background-color:transparent;border:0px">
                                            <i class="material-icons" style=" margin-top: 25px;">lock_outline</i>
                                        </span>
                                        <input [(ngModel)]="usuario.Password" required placeholder="Password" type="password" id="password"
                                            class="form-control"  data-toggle="tooltip" />
                                    </div>
                                    <div [style.display]="esOlvidoClave ? 'table' : 'none'">
                                        <span class="input-group-addon" style="background-color:transparent;border:0px">
                                            <i class="material-icons" style="margin-top: 25px;">face</i>
                                        </span>
                                        <input placeholder="Email"  type="email" class="form-control" name="emailOlvido" 
                                            [(ngModel)]="emailOlvido" required />
                                    </div>
                                    <label style="margin-left: 90px;margin-top:6px;color: red;width: 243px;">{{errorMessage}}</label>
                                </div>
                                <div class="footer text-center"  [hidden]="esOlvidoClave">
                                    <button (click)="login()" [style.display]="loading? 'none':'inline'"  class="btn btn-primary btn-round">Login</button>
                                    <img style="height: 65px;width: 65px;" *ngIf="loading" 
                                        src="https://cdn.dribbble.com/users/503653/screenshots/3143656/fluid-loader.gif"/>
                                </div>
                                <div class="footer text-center" [hidden]="esOlvidoClave">
                                    <a style="cursor:pointer;" (click)="activarOlvidoClave(true)" target="_blank">¿Olvidó su clave?</a>
                                </div>
                                <div class="footer text-center" [hidden]="!esOlvidoClave">
                                    <button (click)="olvidoClave()" [style.display]="loading? 'none':'inline'" class="btn btn-primary btn-round">Aceptar</button>
                                    <img style="height: 65px;width: 65px;" *ngIf="loading" 
                                        src="https://cdn.dribbble.com/users/503653/screenshots/3143656/fluid-loader.gif"/>
                                </div>
                                <div class="footer text-center" [hidden]="!esOlvidoClave">
                                    <a style="cursor:pointer;"  (click)="activarOlvidoClave(false)">¿Volver al login?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" style="background-image: url(../../../assets/img/log_in.jpg) "></div>
    </div>
</div>