<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container" style="width: 600px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img  src="../../assets/img/angular2-logo-white.png" alt="Smiley face" height="100px" width="200px">
            </div>
        </div>
    </nav>
    <div class="full-page register-page" filter-color="black">
        <div class="container" style="width: 600px">
            <div class="row">
                <div class="col-md-12 col-md-offset" style="margin: 0 auto;">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Recuperar Contraseña</h2>
                        <div class="row">|
                            <div class="col-md-12-offset" style="width: 400px; margin: 0 auto;">
                                <form [formGroup]="recuperar" >
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons"[style.color]="emailCheck ? '#4caf50' : '#555'">face</i>
                                            </span>
                                            <input readonly placeholder="Email" [(ngModel)]="emailIni" type="text" id="email" class="form-control" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                            <app-mensaje-recuperar-error [displayError]="isFieldValid(recuperar, 'email')" errorMsg="Email es requerido y su formato es asi john@doe.com.">
                                            </app-mensaje-recuperar-error>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons"[style.color]="passwordCheck ? '#4caf50' : '#555'">lock_outline</i>
                                            </span>
                                            <input  required placeholder="Nueva Clave" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,})"
                                                type="password" id="password" class="form-control" formControlName="password"
                                                 data-toggle="tooltip" 
                                                 title=
                                                 "Ingrese un password válido
                                                 - Debe contener al menos una mayúscula 
                                                 - Un caracter especial(%&@#) 
                                                 - Un número 
                                                 - 8 caracteres
                                                 - Una minúscula Ejem:@MiPassword123"/>
                                                <app-mensaje-recuperar-error [displayError]="isFieldValid(recuperar, 'password')" 
                                                errorMsg="Ingrese un password válido
                                                - Debe contener al menos una mayúscula
                                                - Un caracter especial(%&@#)
                                                - Un número
                                                - 8 caracteres
                                                - Una minúscula Ejem:@MiPassword123">
                                                </app-mensaje-recuperar-error>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >
                                                <i class="material-icons" [style.color]="confirmCheck ? '#4caf50' : '#555'">done</i>
                                            </span>
                                            <input required  type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirmar Clave" />
                                                <app-mensaje-recuperar-error [displayError]="isFieldValid(recuperar, 'confirmPassword')" errorMsg="Las claves no coinciden">
                                                </app-mensaje-recuperar-error>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button (click)="restaurarClave()" [style.display]="loading? 'none':'inline'"
                                             type="submit" class="btn btn-primary btn-round">Aceptar</button>
                                        <img style="height: 65px;width: 65px;" *ngIf="loading" 
                                            src="https://cdn.dribbble.com/users/503653/screenshots/3143656/fluid-loader.gif"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" style="background-image: url(../../../assets/img/log_in.jpg) "></div>
    </div>
</div>
