
<div class="wrapper">
<!--     <div class="sidebar" data-active-color="white" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <app-sidebar-cmp></app-sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div> -->




        <router-outlet></router-outlet>
        
            <app-footer-cmp></app-footer-cmp>
        

</div>