
    <div class="container-fluid" style="width: fit-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: fit-content;">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">info</i>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="card-title">Imei Info</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1" style="margin-top:29px;width: 50px">
                                    <label>Desde:</label>
                            </div>
                            <div class="col-md-1" style="width: 160px">
                                <input class="form-control" type="date" [value]="desde"  [(ngModel)]="desde"
                                    name="desde">
                            </div>
                            <div class="col-md-1" style="margin-top:29px;width: 50px">
                                <label>Hasta:</label>
                            </div>
                            <div class="col-md-1" style="width: 160px">
                                <input class="form-control" type="date" [value]="hasta" [(ngModel)]="hasta"
                                    name="hasta">
                            </div>
                            <div class="col-sm-3 checkbox-radios">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="status" checked 
                                         [value]="0" [(ngModel)]="imeiStatus"> Recibidos
                                    </label>
                                    <label>
                                        <input type="radio" name="status"  
                                        [value]="1" [(ngModel)]="imeiStatus"> Rechazados
                                    </label>
                                    <label>
                                        <input type="radio" name="status"  
                                        [value]="2" [(ngModel)]="imeiStatus"> Aprobados
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="status" 
                                        [value]="3" [(ngModel)]="imeiStatus"> Descartados
                                    </label>
                                    <label>
                                        <input type="radio" name="status" 
                                        [value]="4" [(ngModel)]="imeiStatus"> Todos
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-rose btn-fill" (click)="get()">Ok</button>
                            </div>
                        <div class="row">
                            <div  style="font-size: 1px;">
                                <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    :host /deep/ ng2-smart-table table {
        border-style: inset;
        border-color: initial;
        border-image: initial;
        border-width: 2px;
        text-align: center;
        display: table;
        border-spacing: 2px;
        border-color: grey;
        /* border of the big table*/
    }

    /* grid lines */
    :host /deep/ ng2-smart-table table>tbody>tr>td {
        box-sizing: border-box;
        border: 1px solid grey;
        text-align: center;
    }

    /* headers grid color*/
    :host /deep/ ng2-smart-table thead>tr>th {
        border: 1px solid grey;
        background-color: #eef3e8;
        text-align: center;
    }

    /*font size*/
    :host /deep/ ng2-smart-table {
        font-size: 12px;
        text-align: center;
    }

    :host /deep/ a:link {
        color: rgb(61, 60, 60);
        font-size: 12px;
        text-align: center;
    }

    :host /deep/ ng2-smart-row .selected {
        background: #ED1C24 !important;
    }
/*     :host /deep/ tr.highlightOwner {
        background: rgba(243, 69, 69, 0.5);
    } */
    :host /deep/ tr.highlightOwner {
        background: rgba(243, 69, 69, 0.5);
    }
</style>