<h2  mat-dialog-title>Modificar Certificado</h2>
<mat-dialog-content style="height: 550px">
    <div class="form-group">
    <div class="row">
        <div style="text-align:right;margin-top:20px;" class="col-md-3">
            <label>Certificado Id:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input style="margin-top:10px;"
                [(ngModel)]="certificado.Id" autocomplete="off"
                 class="form-control" name="Id" readonly  type="text"/> 
        </div> 
        <div style="text-align:right;margin-top:20px;" class="col-md-3 "> 
            <label>Cliente:</label>
        </div>
        <div class="col-md-3" style="margin-top:10px;">
            <ng-select  required 
                [items]="empresas" [ngModelOptions]="{standalone: true}" 
                name="empresas" [(ngModel)]="certificado.EmpresaId"
                autocomplete="off" bindLabel="Nombre" bindValue="Id" 
                placeholder="Seleccione Empresa">
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div style="text-align:right;margin-top:20px;" class="col-md-3">
            <label>Modelo Comercial:</label> 
        </div> 
        <div class="col-md-3" style="margin-top:10px;"> 
            <input 
                 [(ngModel)]="certificado.ModeloComercial" autocomplete="off" 
                class="form-control" name="ModeloComercial"  type="text" />
        </div> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>Modelo Técnico:</label>
        </div>
        <div class="col-md-3">
            <input style="margin-top:10px;"
                [(ngModel)]="certificado.ModeloTecnico" autocomplete="off" 
                class="form-control" name="ModeloTecnico"  type="text" />
        </div>
    </div>
    <div class="row">
        <div style="text-align:right;margin-top:20px;" class="col-md-3">
            <label>Marca:</label> 
        </div> 
        <div class="col-md-3 "> 
            <ng-select style="margin-top:6px;" class="form-control"  required 
                [items]="marcas" [ngModelOptions]="{standalone: true}"
                name="marca" [(ngModel)]="certificado.MarcaId"
                autocomplete="off" bindLabel="Nombre" bindValue="Id" 
                placeholder="Seleccione Marca">
            </ng-select>
        </div> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>Sistema Operativo:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input style="margin-top:10px;" required 
                [(ngModel)]="certificado.SistemaOperativo" autocomplete="off"
                class="form-control" name="SistemaOperativo"  type="text" />
        </div> 
    </div> 
    <div class="row "> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>Vers. Sistema Operativo:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input style="margin-top:10px;"
                [(ngModel)]="certificado.VersionSistemaOperativo" autocomplete="off"
                class="form-control" name="versionOperativo"  type="text" />
        </div> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>Versión Software Fab:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input required style="margin-top:10px;"
                [(ngModel)]="certificado.VersionSoftwareFabricante" autocomplete="off"
                class="form-control" name="versionFabricante"  type="text" />
        </div> 
    </div> 
    <div class="row "> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>Valor SAR:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input (keyup)='validarSAR();' style="margin-top:10px;"
                [(ngModel)]="certificado.ValorSAR" autocomplete="off"
                class="form-control" name="valorSAR"  type="text" />
        </div> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>Etiquetas:</label> 
        </div> 
        <div class="col-md-3 ">
            <ng-select style="margin-top:10px;" required [items]="etiquetas"
                [ngModelOptions]="{standalone: true}" name="etiquetas"
                [(ngModel)]="certificado.Etiquetas"
                autocomplete="off" bindLabel="Nombre" bindValue="Id"
                placeholder="Seleccione Etiqueta">
            </ng-select>
        </div>
    </div> 
    <div class="row "> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>N° Certificado:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input min="0" maxlength="15"
                onkeypress='return event.charCode >= 48 && event.charCode <=57' style="margin-top:10px;"
                [(ngModel)]="certificado.NumeroCertificacion" autocomplete="off" 
                class="form-control" name="NumeroCertificacion"  type="text"/>
        </div> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>Id OABI:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input style="margin-top:10px;"
                [(ngModel)]="certificado.IdOABI" autocomplete="off"
                class="form-control" name="idOABI"  type="text" />
        </div> 
    </div> 
    <div class="row "> 
        <div style="text-align:right;margin-top:20px; "class="col-md-3" > 
            <label>Fecha de Control:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input style="margin-top:10px;" isReadOnly
                [(ngModel)]="certificado.FechaControlAno" autocomplete="off"
                class="form-control" name="fechaControl"  type="date" value="certificado.FechaControlAno" />
        </div> 
        <div style="text-align:right;margin-top:20px;"class="col-md-3 "> 
            <label>Version de Hardware:</label> 
        </div> 
        <div class="col-md-3 "> 
            <input required style="margin-top:10px;"
                [(ngModel)]="certificado.VersionHardware" autocomplete="off"
                class="form-control" name="versionHardware"  type="text"/>
        </div> 
    </div>
    <div class="row ">
        <div style="text-align:right;margin-top:20px;" class="col-md-3">
            <label>Vers.Software Concesionario:</label>
        </div>
        <div class="col-md-3 ">
            <input required style="margin-top:10px;" 
                [(ngModel)]="certificado.VersionSoftwareConcesionario" 
                autocomplete="off" class="form-control"
                name="concesionario" type="text" value="certificado.VersionSoftwareConcesionario" />
        </div>
    </div>
    <div class="row ">
        <div div class="col-md-1">
            <span class="btn btn-rose btn-round btn-file">
                <span class="fileinput-new">
                    <i class="material-icons">search</i>
                </span>
                <span class="fileinput-exists"></span>
                <input id="selectedFile" #file (change)="fileEvent(file.files)" type="file" name="file" />
            </span>
        </div>
        <div class="col-md-4" style=" margin-top: 22px;margin-left: 22px;">
            <label>{{archivo}}</label>
        </div>
        <div class="col-md-1" [hidden]="loadingFile!='subir'">
            <button style="margin-top: 11px;background: steelblue;" type="submit" [disabled]="!archivoListo" (click)="subirArchivoCertificado()"
                class="btn btn-primary btn-round btn-fab btn-fab-mini">
                <i class="material-icons">file_upload</i>
            </button>
        </div>
        <div class="col-md-1" [hidden]="loadingFile!='subiendo'">
            <img style="height: 65px;width: 65px;" src="https://cdn.dribbble.com/users/503653/screenshots/3143656/fluid-loader.gif" />
        </div>
        <div style="color: #15ad15; margin-top: 20px;" class="col-md-1" [hidden]="loadingFile!='subido'">
            <i class="material-icons">attach_file</i>
        </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="certificado">Ok</button>
</mat-dialog-actions>

<style>
    .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button
    {
        color: white;
    }
    .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button
    {
        border:none;
        border-radius: 3px;
        position: relative;
        padding: 3px 11px;
        margin:-20px 15px;
        font-size:12px;
        font-weight: 400;
        text-transform: uppercase;

    }
    .mat-fab, .mat-mini-fab, .mat-raised-button
    {
        background-color: #4caf50;

    }
    .mat-dialog-container
    {
        border-radius: 5px !important;
    }
    .mat-dialog-title
    {
        font-weight: 600;
        text-align: center;
        color:#595959;
        font-size:30px;
        font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'
    }
</style>