<h2  mat-dialog-title>Modificar Dispositivo</h2>
<mat-dialog-content style="height: 450px">
    <div class="row">
        <div class="col-md-4 form-group" style="text-align:right;margin-top: 30px;width: 147px;">
           <label >Tipo:</label> 
        </div>
        <div class="col-md-8">
            <ng-select style="margin-top:20px;"  
                required [items]="tipos" [ngModelOptions]="{standalone: true}" name="tipos" 
                [(ngModel)]="dispositivo.DispositivoId" autocomplete="off"
                bindLabel="Nombre" bindValue="Id" placehsolder="Seleccione Tipo">
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group" style="text-align:right;margin-top:30px;width: 147px;">
            <label>Marca:</label>
        </div>
        <div class="col-md-8">
            <ng-select style="margin-top:20px;" required  [items]="marcas" 
                [ngModelOptions]="{standalone: true}" name="marcas" [(ngModel)]="dispositivo.MarcaId"
                autocomplete="off" bindLabel="Nombre" bindValue="Id" placeholder="Seleccione Marca">
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group" style="text-align:right;margin-top:30px;width: 147px;">
            <label>Cliente:</label>
        </div>
        <div class="col-md-8">
            <ng-select style="margin-top:20px;" required  [items]="empresas" [ngModelOptions]="{standalone: true}" name="empresas"
                [(ngModel)]="dispositivo.EmpresaId" autocomplete="off"
                bindLabel="Nombre" bindValue="Id" placeholder="Seleccione Empresa">
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group" style="text-align:right;margin-top:30px;width: 147px;">
            <label>Modelo Comercial:</label>
        </div>
        <div class="col-md-8">
            <input  style="margin-top:20px;" autocomplete="off" name="modeloComercial" type="text" 
                class="form-control" required [(ngModel)]="dispositivo.ModeloComercial" placeholder="Modelo Comercial">
        </div>
    </div>
   
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="dispositivo">Ok</button>
</mat-dialog-actions>

<style>
    .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button
    {
        color: white;
    }
    .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button
    {
        border:none;
        border-radius: 3px;
        position: relative;
        padding: 3px 11px;
        margin:-20px 15px;
        font-size:12px;
        font-weight: 400;
        text-transform: uppercase;

    }
    .mat-fab, .mat-mini-fab, .mat-raised-button
    {
        background-color: #4caf50;

    }
    .mat-dialog-container
    {
        border-radius: 5px !important;
    }
    .mat-dialog-title
    {
        font-weight: 600;
        text-align: center;
        color:#595959;
        font-size:30px;
        font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'
    }
</style>