<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card ">
                <form [formGroup]="type" class="form-horizontal">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title">{{fieldTitulo}}</h4>
                    </div>
                    <div class="pull-right">
                        <button type="button" (click)="traducirIngles()"
                            style="margin:4px;width: 30px;height: 30px; background-image:url(../../assets/img/english.png);background-repeat: no-repeat;">
                        </button>   
                        <button type="button" (click)="traducirEspanol()"
                            style="margin:4px; width: 30px;height: 30px; background-image:url(../../assets/img/spain.png);background-repeat: no-repeat;">
                        </button>
                    </div>
                    <div [hidden]="removeNotification" class="alert alert-info alert-with-icon" data-notify="container">
                        <i class="material-icons" data-notify="icon">notifications</i>
                        <button type="button" (click)="remove()" aria-hidden="true" class="close">
                            <i class="material-icons">close</i>
                        </button>
                        <span data-notify="message">
                            <p>{{fieldPrecios1}}</p>
                            <p>{{fieldPrecios2}}</p>
                            <p>{{fieldPrecios3}}</p>
                            <p>{{fieldPrecios4}}</p>
                            <p>{{fieldPrecios5}}</p>
                            <p>{{fieldPrecios6}}</p>
                        </span>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <label class="col-sm-2 label-on-left"><strong>{{fieldNacionalidad}}:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing">
                                    <mat-form-field> 
                                        <mat-select name="nacionalidad" formControlName="nacionalidad" (change)="tipoNacionalidad()"
                                            [(ngModel)]="nacionalidadSelected">
                                            <mat-option *ngFor="let nacionalidad of nacionalidades" [value]="nacionalidad.value">
                                                {{ nacionalidad.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <app-field-error-display [displayError]="isFieldValid(type, 'nacionalidad')"
                                        errorMsg="* Campo Requerido ">
                                    </app-field-error-display>
                                </div>
                            </div>
                            <label class="col-sm-2 label-on-left"><strong>{{fieldRutPasaporte}}:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'rut')">
                                    <label class="control-label"></label>
                                    <input autocomplete="off" type="text" class="form-control" id="rut" [(ngModel)]="rut"
                                        name="rut" formControlName="rut">
                                    <app-field-error-display [displayError]="isFieldValid(type, 'rut')" errorMsg="* Campo Requerido">
                                    </app-field-error-display>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"><strong>{{fieldNombre}}:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'nombre')">
                                    <label class="control-label"></label>
                                    <input autocomplete="off" type="text" class="form-control" name="nombre" id="nombre"
                                        [(ngModel)]="nombre" formControlName="nombre">
                                    <app-field-error-display [displayError]="isFieldValid(type, 'nombre')" errorMsg="* Campo Requerido">
                                    </app-field-error-display>
                                </div>
                            </div>
                            <label class="col-sm-2 label-on-left"><strong>Email:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'email')">
                                    <label class="control-label"></label>
                                    <input autocomplete="off" type="email" class="form-control" id="email" name="email"
                                        [(ngModel)]="email" formControlName="email">
                                    <app-field-error-display [displayError]="isFieldValid(type, 'email')" errorMsg="Email no válido - ejemplo:contacto@ejemplo.com">
                                    </app-field-error-display>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"><strong>{{fieldTelefono}}:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'telefono')">
                                    <label class="control-label"></label>
                                    <input autocomplete="off" type="tel" class="form-control" id="telefono" 
                                        [(ngModel)]="telefono" name="telefono" formControlName="telefono">
                                    <app-field-error-display [displayError]="isFieldValid(type, 'telefono')" errorMsg="* Ingrese los últimos 9 digitos">
                                    </app-field-error-display>
                                </div>
                            </div>
                            <label class="col-sm-2 label-on-left"><strong>{{fieldMarca}}:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing">
                                    <mat-form-field>
                                        <mat-select name="marca" formControlName="marca" [(ngModel)]="marcaSelected">
                                            <mat-option *ngFor="let marca of marcas" [value]="marca.value">
                                                {{ marca.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <app-field-error-display [displayError]="isFieldValid(type, 'marca')" errorMsg="* Campo Requerido">
                                    </app-field-error-display>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"><strong>{{fieldModelo}}:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'modelo')">
                                    <label class="control-label"></label>
                                    <input autocomplete="off" type="text" class="form-control" id="modelo"
                                        [(ngModel)]="modeloComercial" name="modelo" formControlName="modelo">
                                    <app-field-error-display [displayError]="isFieldValid(type, 'modelo')" errorMsg="* Campo Requerido">
                                    </app-field-error-display>
                                </div>
                            </div>
                            <label class="col-sm-2 label-on-left"><strong>{{fieldPais}}:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing">
                                    <mat-form-field>
                                        <mat-select name="origen" formControlName="origen" [(ngModel)]="origenSelected" >
                                            <mat-option *ngFor="let pais of paises" [value]="pais.value">
                                                {{ pais.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <app-field-error-display [displayError]="isFieldValid(type, 'origen')" errorMsg="* Campo Requerido">
                                    </app-field-error-display>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"><strong>{{fieldLugar}}:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'comment')">
                                    <label class="control-label"></label>
                                    <textarea autocomplete="off" id="comment" name="comment" placeholder={{fieldDefaultLugar}} 
                                        formControlName="comment" [(ngModel)]="description" class="form-control" rows="2"></textarea>
                                    <app-field-error-display [displayError]="isFieldValid(type, 'comment')" errorMsg="Excede máximo permitido (200)">
                                    </app-field-error-display>
                                </div>
                            </div>
                            <label class="col-sm-2 label-on-left"><strong>SIM:</strong></label>
                            <div class="col-sm-3">
                                <div class="form-group label-floating column-sizing">
                                    <mat-form-field>
                                        <mat-select name="sim" formControlName="sim" [(ngModel)]="simSelected" (change)="tipoSim()">
                                            <mat-option *ngFor="let sim of sims" [value]="sim.value">
                                                {{ sim.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <app-field-error-display [displayError]="isFieldValid(type, 'sim')" errorMsg="* Campo Requerido">
                                    </app-field-error-display>
                                </div>
                            </div>
                            <div class="row"></div>
                                <div [hidden]="!isSelectedSim">
                                    <label class="col-sm-2 label-on-left"><strong>IMEI #1:</strong></label>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'imei1')">
                                            <label class="control-label"></label>
                                            <input autocomplete="off" type="text" class="form-control" id="imei1" [(ngModel)]="imei1" name="imei1"
                                                formControlName="imei1">
                                            <app-field-error-display [displayError]="isFieldValid(type, 'imei1')" errorMsg="* Campo Requerido - 15 digitos">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                </div>
                                <div [hidden]="!isDual">
                                    <label class="col-sm-2 label-on-left"><strong>IMEI #2:</strong></label>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'imei2')">
                                            <label class="control-label"></label>
                                            <input autocomplete="off" (keyup)="verificarMensajes()" type="text" class="form-control" id="imei2" 
                                                [(ngModel)]="imei2" name="imei2" formControlName="imei2" >
                                            <app-field-error-display [displayError]="mostrarErrorImei2" errorMsg="* Campo Requerido - 15 digitos">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div style="margin-top: 25px;" [hidden]="!isNacionalidadSelected">
                            <div class="row">
                                <div class="col-sm-2" style="text-align: right;">
                                    <label  class="label-on-right"><strong>{{fieldImagenRut}}:</strong></label>
                                    <button style="margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;" 
                                        (click)="popUpInfoImage('rutImage')" class="btn btn-simple btn-primary primary btn-icon">
                                        <i style="font-size: 23px;color:blue" class="material-icons">help</i>
                                    </button>
                                </div>
                                <div style="margin-top: 25px;" class="col-sm-3">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img src="../../assets/img/image_placeholder.jpg" style="width: 70px;height: 70px" alt="...">
                                        </div>
                                        <div style="width: 70px;height: 70px"class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-rose btn-round btn-file">
                                                <span class="fileinput-new">{{fieldImagenAdjuntar}}</span>
                                                <span class="fileinput-exists">{{fieldImagenCambiar}}</span>
                                                <input accept="image/x-png,image/jpeg,application/pdf" type="file" id="rutImage" name="rutImage" (change)="addFile($event,'0')" formControlName="rutImage" />
                                            </span>
                                            <a href="#pablo" (click)="eliminarImagen('0','rutImage')" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>
                                                {{fieldImagenEliminar}}</a>
                                        </div>
                                    </div>
                                    <app-field-error-display [displayError]="isFieldValid(type, 'rutImage')" errorMsg="* Imagen Requerida">
                                    </app-field-error-display>
                                </div>
                                <div class="col-sm-2" style="text-align: right;">
                                    <label class="label-on-left"><strong>{{fieldImagenImeiElectronico}}:</strong></label>
                                    <button style="margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;" (click)="popUpInfoImage('electronicIMEI')" class="btn btn-simple btn-warning warning btn-icon">
                                        <i style="font-size: 23px;color:blue" class="material-icons">help</i>
                                    </button>
                                </div>
                                <div style="margin-top: 25px;" class="col-sm-3">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img src="../../assets/img/image_placeholder.jpg" style="width: 70px;height: 70px" alt="...">
                                        </div>
                                        <div style="width: 70px;height: 70px" class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-rose btn-round btn-file">
                                                <span class="fileinput-new">{{fieldImagenAdjuntar}}</span>
                                                <span class="fileinput-exists">{{fieldImagenCambiar}}</span>
                                                <input accept="image/x-png,image/jpeg,application/pdf" type="file" id="electronicIMEI" name="electronicIMEI" (change)="addFile($event,'3')" formControlName="electronicIMEI" />
                                            </span>
                                            <a href="#pablo" (click)="eliminarImagen('3','electronicIMEI')" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>
                                                {{fieldImagenEliminar}}</a>
                                        </div>
                                    </div>
                                    <app-field-error-display [displayError]="isFieldValid(type, 'electronicIMEI')" errorMsg="* Imagen Requerida">
                                    </app-field-error-display>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-sm-2" style="text-align: right;">
                                    <label class="label-on-right"><strong>{{fieldImagenImeiFisico}}:</strong></label>
                                    <button style="margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;" (click)="popUpInfoImage('physicalIMEI')"
                                        class="btn btn-simple btn-warning warning btn-icon">
                                        <i style="font-size: 23px;color:blue" class="material-icons">help</i>
                                    </button>
                                </div>
                                <div style="margin-top: 25px;" class="col-sm-3">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img src="../../assets/img/image_placeholder.jpg" style="width: 70px;height: 70px" alt="...">
                                        </div>
                                        <div style="width: 70px;height: 70px" class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-rose btn-round btn-file">
                                                <span class="fileinput-new">{{fieldImagenAdjuntar}}</span>
                                                <span class="fileinput-exists">{{fieldImagenCambiar}}</span>
                                                <input accept="image/x-png,image/jpeg,application/pdf" type="file" id="physicalIMEI" name="physicalIMEI" (change)="addFile($event,'2')"  />
                                            </span>
                                            <a href="#pablo" (click)="eliminarImagen('2','physicalIMEI')" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>
                                                {{fieldImagenEliminar}}</a>
                                        </div>
                                    </div>
                                </div> -->
                                <div [hidden]="!isResidente">
                                    <div class="col-sm-2" style="text-align: right;">
                                        <label class="label-on-right"><strong>{{fieldImagenBoleta}}:</strong></label>
                                        <button style="margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;" 
                                            (click)="popUpInfoImage('receipt')"
                                            class="btn btn-simple btn-warning warning btn-icon">
                                            <i style="font-size: 23px;color:blue" class="material-icons">help</i>
                                        </button>
                                    </div>
                                    <div style="margin-top: 25px;" class="col-sm-3">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                <img src="../../assets/img/image_placeholder.jpg" style="width: 70px;;height: 70px" alt="...">
                                            </div>
                                            <div style="width: 70px;;height: 70px" class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-rose btn-round btn-file">
                                                    <span class="fileinput-new">{{fieldImagenAdjuntar}}</span>
                                                    <span class="fileinput-exists">{{fieldImagenCambiar}}</span>
                                                    <input accept="image/x-png,image/jpeg,application/pdf" type="file" id="receipt" name="receipt" (change)="addFile($event,'1')" formControlName="receipt"/>
                                                </span>
                                                <a href="#pablo" (click)="eliminarImagen('1','receipt')" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>
                                                    {{fieldImagenEliminar}}</a>
                                            </div>
                                        </div>
                                        <app-field-error-display [displayError]="isFieldValid(type, 'receipt')" errorMsg="* Imagen Requerida">
                                        </app-field-error-display>
                                    </div>
                                </div>
                                <div [hidden]="isResidente">
                                    <div class="col-sm-2" style="text-align: right;">
                                        <label class="label-on-right"><strong>{{fieldImagenTimbrado}}:</strong></label>
                                        <button style="margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;" 
                                            (click)="popUpInfoImage('stampedPassport')"
                                            class="btn btn-simple btn-warning warning btn-icon">
                                            <i style="font-size: 23px;color:blue" class="material-icons">help</i>
                                        </button>
                                    </div>
                                    <div style="margin-top: 25px;" class="col-sm-3">                                
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                <img src="../../assets/img/image_placeholder.jpg" style="width: 70px;height: 70px" alt="...">
                                            </div>
                                            <div style="width: 70px;height: 70px" class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-rose btn-round btn-file">
                                                    <span class="fileinput-new">{{fieldImagenAdjuntar}}</span>
                                                    <span class="fileinput-exists">{{fieldImagenCambiar}}</span>
                                                    <input accept="image/x-png,image/jpeg,application/pdf" type="file" id="stampedPassport" name="stampedPassport" (change)="addFile($event,'4')" formControlName="stampedPassport" />
                                                </span>
                                                <a href="#pablo" (click)="eliminarImagen('4','stampedPassport')" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>
                                                    {{fieldImagenEliminar}}</a>
                                            </div>
                                        </div>
                                        <app-field-error-display [displayError]="isFieldValid(type, 'stampedPassport')" errorMsg="* Imagen Requerida">
                                        </app-field-error-display>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10" style="text-align: center;margin-bottom: 30px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"  (change)="mostrarTerminos()" name="terminos" formControlName="terminos" [(ngModel)]="aceptaTerminos"> 
                                        <strong>{{fieldTerminos}}</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10" style="text-align: -webkit-center;;margin-bottom: 30px">
                            <re-captcha (resolved)="resolved($event)" (onkeydown)="enableButton()"
                                siteKey="6LcpBHsUAAAAALMJrzVlbu1tLB1pYuMaL9jNszKh">
                            </re-captcha> 
                            <app-field-error-display [displayError]="mostrarErrorCatcha" errorMsg="* Debe hacer click en el reCatcha">
                            </app-field-error-display>
                        </div>
                        <div class="col-md-10 scard-footer text-center">
                            <button type="submit" [disabled]="!mostrarSubmit" class="btn btn-rose btn-fill" (click)="onSubmit()">Ok</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>